/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  color: white;
  height: 100vh;
  background-color: #101010	;
  padding: 5px;
}


.main {
  margin: 5px 5px;
}

.nav {
  border: solid white 1px;
  border-radius: 6px;
}

.title {
  padding: 0px 30px;
}

.loading {
  margin: 40px;
  font-size: 40px;
}

.section-title {
  font-size: 30px;
  width: 100%
}

.prelim-data-section {
  margin: 20px;
}

.data-row {
  margin:5px;
}

.divider {
  border: solid 1px white;
}

.primary-control-section {
  margin: 20px;
}

.data-control-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.data-control-row {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  width: 400px;
  height: 50px;
}

.label {
  display: inline-block;
  font-size: 22px;
  padding: 7px 0px 7px 20px;
  width: 75px;
}

.multi-select {
  display: inline-block;
  max-width: 300px;
}

.results-section {
  margin: 20px;
}


.video-section {
  margin: 20px;
}

.bigGreenButton {
  font-size: 40px;
  background-color: green;
  padding: 20px 40px;
  margin: 40px;
  border: solid black 2px;
  border-radius: 5px;

}

.bigGreenButton:hover {
  cursor: pointer;
  background-color: darkgreen;
}

.mainStatusMessage {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  color: white;
}

.generationWrapper {
  min-height: 200px;
  border: solid white 1px;
  margin: 20px;
  padding: 10px;
}